@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

@font-face {
  font-family: "Chopsic";
  src: url("./assets/fonts/Chopsic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "moonhouse";
  src: url("./assets/fonts/moonhouse.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.header_custom_bg {
  background: url(../assets/header_image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-custom_dark {
  background: linear-gradient(to right, #000000, #1d1d1d, #000000);
  height: 100%;
  width: 100%;
}
.bg-custom_light {
  background: linear-gradient(to right, #e9e9e9, #ffffff, #e9e9e9);
  height: 100%;
  width: 100%;
}
.regist_btn {
  border: none;
  position: relative;
  width: 240px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 1rem;
}
.bg_yellow_gradient {
  background: linear-gradient(to right, #caff0080, #caff00);
}
.bg_indigo_gradient {
  background: linear-gradient(to right, #781fe380, #781fe3);
}
